
//主色调
@c_primary: #626aef;


@c_success: #0ca163;
@c_info: #2b6bff;
@c_error: #fe2525;
@c_warning: #ff6600;
@c_white: #ffffff;

//字体
@c_font_1: #11131a;
@c_font_2: #3a3f4d;
@c_font_3: #6c7280;
@c_font_4: #a8afbf;
//背景
@c_bg_1: #f2f4fa;
@c_bg_2: #f8fafd;
@c_bg_3: #fff7ec;
@c_bg_4: #f7f9fd;

//边框/分割线颜色
@c_line_1: #d5dae5;
@c_line_2: #e6eaf2;
@c_line_3: #f2f4fa;
